<footer class="text-center d-flex justify-content-center align-items-center flex-column p-5">
            <h2>Société Des Bières du Monde</h2>
            <p>L'abus d'alcool est dangereux pour la santé A consommer avec modération</p>
            <span>Made by <a href="https://ouabdellahe.fr/" target="_blank">Abdellahe Ouammou</a></span>
            <p>© Copyright 2024
            Tous droits réservés.</p>
        </footer>