{% extends 'base.html.twig' %}

{% block title %}Ajout d'une Marque - Société Des Bières du Monde{% endblock %}

{% block body %}
<main class="container vh-100">
    <h1 class="mb-5 mt-5">Ajouter une Marque</h1>

    {{ include('marque/_form.html.twig') }}

    <a class="btn btn-warning mt-3 " href="{{ path('app_marque_index') }}">Retourner à la liste</a>
    </main>
{% endblock %}
