{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvé</h1>

    <p>
        La page demandée n'a pas pu être localisée. Vérifiez qu'il n'y a pas de faute d'orthographe dans l'URL ou <a href="{{ path('app_main') }}">retourner à la page d'accueil</a>.
    </p>
{% endblock %}