{% extends 'base.html.twig' %}

{% block title %}Ajout d'un Type de bière - Société Des Bières du Monde{% endblock %}

{% block body %}
<main class="container vh-100">
    <h1 class="mb-5 mt-5">Ajout d'un Type de bière</h1>

    {{ include('typebiere/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('app_typebiere_index') }}">Retourner à la liste</a>
    </main>
{% endblock %}
